* {
    font-family: Arial, Helvetica, "Times New Roman", sans-serif
}

body {
    background-color: #7878ff;
}

h1 {
    text-align: center;
    color: rgb(255, 255, 200)
}

.image {
    height: auto;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

li {
    text-align: center;
    list-style: none;
}

a:link {
    color: #000000; 
}

a:visited {
    color: coral;
}

a:hover {
    color: green;
}